* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-width: 320px;
    background-color: #F8F8F8;
}

/* navbar */
.navbar {
    background: linear-gradient(#7EA937, #357929, #355331, );
}

/* aca comienza el CSS de "Sobre La Tienda" */

.imagen {
    background-image: url("../img/deposito1.jpg");
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
}

.sobreLaTienda {
    background-color: rgba(0, 0, 0, 0.8);
}

.info {
    padding-top: 5%;
}

/* fin de CSS de "Sobre La Tienda" */

/* Abre listado de articulos */

.ListadoDeArticulos {
    background-color: #F8F8F8;
}

/*cierra listado de articulos */